body{
	max-width: 1440px; 
}

.nav-item{
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 29px;
	color: #04172A;

}

.top-left-bg{
	background: #04172A;
}

.top-left-text{
	font-family: Gabriola;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 82px;
	color: #F8F8F6;

}

.top-right-bg{
	background: #F9BA18;
}

.row11{
	margin-top: 150px; 
	margin-left: -100px;
}

.education {
	line-height: 15px;
}
.work{
	border: 1px solid white; 
	background: rgba(84, 209, 219, 0.1);
	background-blend-mode: luminosity;
	margin-left: -50px; 
	margin-top: -130px;

}
.edu-svg{
	margin-top: -80px !important; 
}

.work-card{
	margin-top: -126px; 
}

#button1 {
	width: 470px; 
	margin-left: -380px; 
	background: #04172A !important;
	  position: absolute !important;
	  z-index: 10 !important;
	  left: 0px !important;
	  bottom: 430px !important;
	  transform: rotate(-90deg);
	  -ms-transform: rotate(-90deg);
	  -moz-transform: rotate(-90deg);
	  -webkit-transform: rotate(-90deg);
	  -o-transform: rotate(-90deg);
	  transform-origin: top right;
}

.button-mail{
	background: #FBB405;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px !important;
}

.green-cycle{
	margin-top: 50px !important; 
	margin-left: -12px !important; 
}




@media (max-width: 979px) {
	body{
		max-width: 900px; 
	}
     .row11{
		margin-top: 20px; 
		margin-left: 10%;
		display: hidden !important; 
    }
    .stay-upto-date{
    	margin-left: -100px !important; 
    }
    .work-image{
    	width: 96% !important; 
    	margin-top: -30px !important; 
    }
    .work-text-one{
    	margin-top: 30px; 
    }
    .work-text-two{
    	margin-top: 30px; 
    }
  .work-image-two{
  		width: 96% !important; 
    	margin-left: 30px !important; 
  }  
  .work-image-three{
  		width: 96% !important; 
    	margin-top: 30px !important; 
  }
  
  .work{
	border: 1px solid white; 
	background: rgba(84, 209, 219, 0.1);
	background-blend-mode: luminosity;
	margin-left: 50px; 
	/*margin-top: 130px !important;*/
}

.edu-svg{
	display: none !important;
}
.education-small{
	margin-top: 30px !important; 
}

.work-small{
	margin-top: 10px !important; 
	margin-left: 30px; 
}
.work-list{
	margin-top: -60px !important; 
 }
#button1 {
	width: 80%; 
	margin-left: 60px; 
	margin-bottom: -490px !important; 
	background: #04172A !important;
	position: absolute !important;
	z-index: 10 !important;
	left: 0px !important;
	bottom: 430px !important;
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(360deg);
	 -o-transform: rotate(180deg);
	 transform-origin: top right;
}
.bottom-container{
	margin-top: 40px; 
}

}
